<section class="hero">
	<div class="hero-body">
		<div class="container">
		</div>
	</div>
</section>



<!-- <div class="container">
	
</div> -->
<div class="container box">
	<p class="title level-item">Create a New Account</p>
	<%= render partial: 'application/error_notice', locals: { new_object: @reader } %>
	<%= render partial: 'reader_form', locals: { submit_text: "Create Reader" } %>

</div>

<section class="hero">
	<div class="hero-body">
		<div class="container">
		</div>
	</div>
</section>
