/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*
 .field_with_errors input, 
 .field_with_errors textarea {
    background-color: red;
    display: inline;
}
/*.error-message {
	color: red;
}*/
/*
ul {
	list-style: none;
}*/

/*#test {
	background-color: magenta;
}*/
/*nav .navbar {
	border-bottom: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}*/

#home_logo {
	margin-top: 10px;
}

.bg-img { 
        background-image: url("bokmarke_background_grayscale_darker.jpg");
        background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        background-size:  cover;
        background-color: #999;

 }

 #book_search,
 #author-search,
 #reader-search {
    /*margin: auto;*/
    margin-top: 30px;
    margin-left: 15px;
}

.field_with_errors {
    display: inline;
}

ul {
    list-style: none !important;
}