<% if new_object.errors.any? %>
	<section class="section">
	    <div class="container">
			<article class="message is-danger">
				<ul class="alert alert-danger">
					<% new_object.errors.full_messages.each do |error| %>
						<li><%= error %></li>
					<% end %>
				</ul>
			</article>
		</div>
	</section>
<% end %>