<section class="hero is-primary  is-normal">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
      	About Bokmärke.
	  </h1>
      <h2 class="subtitle">
        <em>"the world's greatest book tracking platform" -<%= Author.all.sample.name %></em>
      </h2>
    </div>
  </div>
</section>

<div class="level-item level" >
	<%= image_tag "bokmarke_logo.png", id: 'home_logo', class: "is-three-fifths" %>
</div>
