<section class="hero is-large">
  <div class="hero-body">
    <div class="container">
      <div class="level-item level" >
      	<%= image_tag "bokmarke_logo_white.png", id: 'home_logo' %>
      </div>
      <div class="container">
        <h1 class="content title level-item has-text-white-bis  ">
          <!-- Welcome to Bokmärke. -->
          <em>"the world's greatest book tracking platform" -<%= Author.all.sample.name %></em>
        </h1>
      </div>
    </div>
  </div>
</section>


